In [21]:
import pandas as pd

# Load the dataset
data = pd.read_csv('deaths.csv')

# Display the first few rows of the dataset
print(data.head())

# Display summary statistics
print(data.describe())

# Display information about the dataset
print(data.info())

  peak_id   peak_name                        name yr_season    date   time  \
0    AMAD  Ama Dablam  Michael John (Mike) Harris  1959 Spr  May 21  08:30
1    AMAD  Ama Dablam         George James Fraser  1959 Spr  May 21  08:30
2    AMAD  Ama Dablam  Kenneth James (Ken) Hyslop  1979 Aut  Oct 24  11:15
3    AMAD  Ama Dablam                Guido Bumann  1983 Aut  Oct 27  20:00
4    AMAD  Ama Dablam                   Maya Senn  1983 Aut  Oct 27  20:00

   citizenship gender  age is_o2_used is_summiter     cause_of_death
0           UK      M   33         No           .       Fall (6550m)
1           UK      M   27         No           .       Fall (6550m)
2  New Zealand      M   23         No           .  Avalanche (6100m)
3  Switzerland      M   31         No           .       Fall (5300m)
4  Switzerland      F   28         No           .       Fall (5300m)
               age
count  1104.000000
mean     30.293478
std      16.182350
min       0.000000
25%      25.000000
50%      32.000000
75%      40.000000
max      85.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   peak_id         1104 non-null   object
 1   peak_name       1104 non-null   object
 2   name            1104 non-null   object
 3   yr_season       1104 non-null   object
 4   date            1104 non-null   object
 5   time            557 non-null    object
 6   citizenship     1104 non-null   object
 7   gender          1104 non-null   object
 8   age             1104 non-null   int64
 9   is_o2_used      1104 non-null   object
 10  is_summiter     1104 non-null   object
 11  cause_of_death  1104 non-null   object
dtypes: int64(1), object(11)
memory usage: 103.6+ KB
None

In [22]:
data.isnull().sum()

peak_id             0
peak_name           0
name                0
yr_season           0
date                0
time              547
citizenship         0
gender              0
age                 0
is_o2_used          0
is_summiter         0
cause_of_death      0
dtype: int64

In [29]:
data = data.drop(columns='time')

In [30]:
data.head(2)

,peak_id,peak_name,name,yr_season,date,citizenship,gender,age,is_o2_used,is_summiter,cause_of_death
0,AMAD,Ama Dablam,Michael John (Mike) Harris,1959 Spr,May 21,UK,M,33,No,.,Fall (6550m)
1,AMAD,Ama Dablam,George James Fraser,1959 Spr,May 21,UK,M,27,No,.,Fall (6550m)

In [31]:
data.isnull().sum()

peak_id           0
peak_name         0
name              0
yr_season         0
date              0
citizenship       0
gender            0
age               0
is_o2_used        0
is_summiter       0
cause_of_death    0
dtype: int64

In [33]:
data.isna().sum()

peak_id           0
peak_name         0
name              0
yr_season         0
date              0
citizenship       0
gender            0
age               0
is_o2_used        0
is_summiter       0
cause_of_death    0
dtype: int64

In [38]:
data.duplicated().sum()

3

In [45]:
new_df = data.drop_duplicates()

In [46]:
new_df.duplicated().sum()

0

In [47]:
new_df.keys()

Index(['peak_id', 'peak_name', 'name', 'yr_season', 'date', 'citizenship',
       'gender', 'age', 'is_o2_used', 'is_summiter', 'cause_of_death'],
      dtype='object')

In [3]:
from sklearn.preprocessing import LabelEncoder

# Handle missing values
data.fillna('Unknown', inplace=True)

# Encode categorical variables
label_encoders = {}
categorical_columns = ['peak_id', 'peak_name', 'citizenship', 'gender', 'is_o2_used', 'is_summiter', 'cause_of_death', 'yr_season']

for col in categorical_columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

# Verify encoding
print(data.head())

   peak_id  peak_name                        name  yr_season    date   time  \
0        0          0  Michael John (Mike) Harris         19  May 21  08:30
1        0          0         George James Fraser         19  May 21  08:30
2        0          0  Kenneth James (Ken) Hyslop         49  Oct 24  11:15
3        0          0                Guido Bumann         59  Oct 27  20:00
4        0          0                   Maya Senn         59  Oct 27  20:00

   citizenship  gender  age  is_o2_used  is_summiter  cause_of_death
0           48       1   33           1            0             234
1           48       1   27           1            0             234
2           35       1   23           1            0              95
3           46       1   31           1            0             215
4           46       0   28           1            0             215

In [13]:
data.dtypes

peak_id            int32
peak_name          int32
name              object
yr_season          int32
date              object
time              object
citizenship        int32
gender             int32
age                int64
is_o2_used         int32
is_summiter        int32
cause_of_death     int32
dtype: object

AttributeError: Can only use .str accessor with string values!